* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgb(122, 167, 101);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.board-wrapper {
    width: 500px;
    height: 500px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cell {
    width: calc(500px / 3);
    height: calc(500px / 3);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    font-size: 5rem;
}