* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgb(122, 167, 101);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden{
    display: none !important;
}

#start-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

#start-wrapper input {
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    width: 300px;
    height: 45px;
}

#start-wrapper button {
    height: 45px;
    border-radius: 10px;
}

#board-wrapper {
    display: flex;
    flex-direction: column;
    width: 575px;
    gap: 10px;
    padding-top: 10px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cell {
    width: 185px;
    height: 185px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    font-size: 5rem;
}

#scoreboard-wrapper {
    display: grid;
    width: 575px;
    grid-template-columns: 2fr 1fr 2fr;
    flex-direction: row;
    gap: 10px;
}

#player-one-wrapper,
#player-two-wrapper,
#tie-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:space-around;
    text-align: center;
    background-color: white;
    height: 125px;
    border-radius: 10px;
    padding: 10px;
}

#p1-name,
#draw,
#p2-name {
    font-size: 20px;
}

#p1-score,
#draw-score,
#p2-score {
    font-size: 32px;
}

.modal-wrapper {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal-wrapper.hidden {
    display: none;
}

.next-round-modal {
    width: 500px;
    height: 500px;
    background-color: aqua;
}