* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--main-font);
}

:root {
    --main-font: #272727;
    --primary-color: #3b6064;
    --primary-color-two: #49777c;
    --primary-drop: #2a4547;
    --player-one: #e09f3e;
    --player-one-drop: #976c2b;
    --player-two: #87bba2;
    --player-two-drop: #4b685a;
    --white: #edede9;
    --white-drop: #868685;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

h1 {
    color: var(--white);
}

#turn-display {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--primary-color-two);
    filter: drop-shadow(0px 4px 0px var(--primary-drop));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

}

#start-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

#start-wrapper input {
    font-size: 17px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 45px;
    border: none;
    background-color: var(--white);
}

#start-wrapper button {
    height: 45px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    background-color: var(--player-one);
    filter: drop-shadow(0px 4px 0px var(--player-one-drop));
}

#board-wrapper {
    display: flex;
    flex-direction: column;
    width: 520px;
    gap: 20px;
    padding-top: 10px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cell {
    width: 160px;
    height: 160px;
    background-color: var(--primary-color-two);
    border-radius: 10px;
    text-align: center;
    align-content: center;
    font-size: 5rem;
    filter: drop-shadow(0px 7px 0px var(--primary-drop));
}

.cell.x {
    color: var(--player-one);
}

.cell.o {
    color: var(--player-two);
}

.cell.x.winner {
    background-color: var(--player-one);
    color: var(--primary-color-two);
}

.cell.o.winner {
    background-color: var(--player-two);
    color: var(--primary-color-two);
}

.cell:hover {
    background-color: color-mix(in srgb, var(--primary-color-two), black 10%);
}

.cell:active {
    transform: translateY(7px);
    filter: none;
}

#scoreboard-wrapper {
    display: grid;
    width: 520px;
    grid-template-columns: 2fr 1fr 2fr;
    flex-direction: row;
    gap: 20px;
}

#player-one-wrapper,
#player-two-wrapper,
#tie-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    height: 75px;
    border-radius: 10px;
    padding: 10px;
}

#player-one-wrapper {
    background-color: var(--player-one);
    filter: drop-shadow(0px 4px 0px var(--player-one-drop));
}

#tie-wrapper {
    background-color: var(--white);
    filter: drop-shadow(0px 4px 0px var(--white-drop));
}

#player-two-wrapper {
    background-color: var(--player-two);
    filter: drop-shadow(0px 4px 0px var(--player-two-drop));
}

#p1-name,
#draw,
#p2-name {
    font-size: 20px;
}

#p1-score,
#draw-score,
#p2-score {
    font-size: 32px;
}

.modal-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal-wrapper.hidden {
    display: none;
}

.next-round-modal {
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-color);
    filter: drop-shadow(0px 7px 5px var(--primary-drop));
    border-radius: 20px;
    padding: 20px;
}

#next-round-button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.next-round-modal button {
    height: 45px;
    width: 150px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
}

button#next-round-button {
    width: 200px;
    background-color: var(--player-one);
    filter: drop-shadow(0px 4px 0px var(--player-one-drop));
}

button#quit-button {
    width: 80px;
    background-color: var(--white);
    filter: drop-shadow(0px 4px 0px var(--white-drop));
}

.next-round-modal p {
    font-size: 18px;
    color: var(--white);
    padding-bottom: 20px;
    font-weight: normal;
}

.next-round-modal p#modal-message {
    font-size: 28px;
    color: var(--player-two);
    font-weight: bold;
}

button,
.cell {
    cursor: pointer;
}

#start-wrapper button:hover,
button#next-round-button:hover {
    background-color: color-mix(in srgb, var(--player-one), black 10%);
}

#start-wrapper button:active,
button#next-round-button:active {
    transform: translateY(4px);
    filter: none;
}

button#quit-button:hover {
    background-color: color-mix(in srgb, var(--white), black 10%);
}

button#quit-button:active {
    transform: translateY(4px);
    filter: none;
}